<h1>Places</h1>

<ul class="list-group mb-3">
  <% for place in @places %>
    <li class="list-group-item">
      <a href="/places/<%= place["id"] %>" class="btn btn-link"><%= place["name"] %></a>
    </li>
  <% end %>
</ul>

<a href="/places/new" class="btn btn-primary">New Place</a>
