<h1>Places</h1>

<% if @current_user %>
  <a href="/places/new" class="btn btn-primary mb-3">New Place</a>
<% end %>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>
